.form-control {
  color: #ffffff;
  background-color: rgb(16, 15, 15);
  border-color: #302f2f;
  outline: none;
}

textarea:focus, input:focus, input[type]:focus {
  border-color: rgb(148, 1, 1);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255,144,0,0.6);
  outline: 0 none;
}
