
.mat-card{
  background-color: white;
}
/*EN el HTML veras que puse class="btn-mat-pruebita", bien aqui es donde editas y le daras el estilo que desees */
/*Puede usar el class="btn-mat-pruebita" en los botones que deseas */
.btn-mat-pruebita{
  background-color: rgb(177, 70, 70);
  color: white
}
/*Este hover es para que cambie de color el boton cuando le pases encima*/
.btn-mat-pruebita:hover{
  background-color: rgb(93, 177, 70);
  color: white
}
