
<div class="container">

<form class="row g-3" class="was-validated">
  <div>
    <div class="submit-form row g-2 ">

      <div class="form-group col-md-6">
        <div class="col-sm-12 form-floating">
            <input type="text" id="name" name="name" class="form-control"
                  required minlength="5"
                  [(ngModel)]="signatory.Name" #name="ngModel">

                  <div class="invalid-feedback" *ngIf="name.errors?.required" >
                    El nombre es requerido.
                  </div>

                  <div class="invalid-feedback" *ngIf="name.errors?.minlength">
                    El nombre debe contener mas de 5 caracteres.
                  </div>

                  <label for="floatingInputGrid"> Nombre de Firmante </label>
          </div>
      </div>

      <div class="form-group col-md-6">
        <div class="col-sm-12 form-floating">
            <input type="text" id="SurName" name="SurName" class="form-control"
                  required minlength="5"
                  [(ngModel)]="signatory.SurName" #SurName="ngModel">

                  <div class="invalid-feedback" *ngIf="SurName.errors?.required" >
                    El Apellido es requerido.
                  </div>

                  <div class="invalid-feedback" *ngIf="SurName.errors?.minlength">
                    El Apellido debe contener mas de 5 caracteres.
                  </div>

                  <label for="floatingInputGrid"> Apellido de Firmante </label>
          </div>
      </div>


      <div class="form-group col-md-12">
        <div class="col-sm-12 form-floating">
            <input type="text" id="Position" name="Position" class="form-control"
                  required minlength="5"
                  [(ngModel)]="signatory.Position" #Position="ngModel">

                  <div class="invalid-feedback" *ngIf="Position.errors?.required" >
                    El cargo es requerido.
                  </div>

                  <div class="invalid-feedback" *ngIf="Position.errors?.minlength">
                    El cargo debe contener mas de 5 caracteres.
                  </div>

                  <label for="floatingInputGrid"> Cargo de Firmante </label>
          </div>
      </div>


      <div class="form-group col-md-12">
        <div class=" col-sm-6 form-check form-switch ">
          <label class=" text-center"  for="verified">Encargado de firmar</label>
          <input  class="form-check-input"  id="checkbox" type="checkbox" name="sendemail" [(ngModel)]="signatory.Verified">
        </div>
      </div>

      <div class="form-group col-md-12">
        <hr>
           <button routerLink="/signatory" class="btn btn-warning "  >Atras</button> &nbsp;
           <button  (click)="saveSignatory()" class="btn btn-success ">Guardar  </button>
      </div>
    </div>

  </div>
