
      <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">Menu</span>
      </a>

      <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li [hidden]="!_authService.loggedIn()" class="nav-item">
          <a routerLink="planilla" class="nav-link" href="#">Planilla</a>
        </li>
        <li [hidden]="!_authService.Administrator()" class="nav-item">
          <a routerLink="parish" class="nav-link" href="#">Parroquias</a>
        </li>
        <li [hidden]="!_authService.Administrator()" class="nav-item">
          <a routerLink="signatory" class="nav-link">Firmantes</a>
        </li>
        <li [hidden]="!_authService.Administrator()" class="nav-item">
          <a routerLink="certificate" class="nav-link">Certificados</a>
        </li>
        <li [hidden]="!_authService.Administrator()" class="nav-item">
          <a routerLink="certificatePending" class="nav-link"
            >Certificados Pendientes</a
          >
        </li>

        <li [hidden]="!_authService.Administrator()" class="nav-item">
          <a routerLink="certificatePrint" class="nav-link"
            >Certificados Parroquia</a
          >
        </li>
        <li [hidden]="!_authService.Administrator()" class="nav-item">
          <a routerLink="user" class="nav-link">Usuarios</a>
        </li>

        <li [hidden]="!_authService.Parishes()" class="nav-item">
          <a routerLink="certificateParish" class="nav-link">Certificados</a>
        </li>

        <li [hidden]="!_authService.Parishes()" class="nav-item">
          <a routerLink="certificatePrint" class="nav-link">
            Imprimir Certificados
          </a>
        </li>
       
          <a routerLink="" (click)="logout()"class="nav-link pr-1">
            <i class="fas fa-sign-out-alt fa-2x"></i>
          </a>
      </ul>
      <hr>
 