<nav *ngIf="_authService.loggedIn()">
    <div class="wrapper">
      <mat-toolbar class="menu-1">
        <mat-toolbar-row>    
            <div class="logo" styles="width: 80%">
                <a>
                <img src="../../assets/Images/logoObispado.png" width="100px" />
                </a>
            </div>
        <mat-toolbar-row class="toolbar-row">
        </mat-toolbar-row>
    
          <input type="radio" name="slider" id="menu-btn" />
          <input type="radio" name="slider" id="close-btn" />
          <ul class="nav-links">
            <label for="close-btn" class="btn close-btn">
              <i class="fa fa-times"></i></label>
            <li [hidden]="!_authService.Parishes()">
              <a routerLink="tutorial">Tutorial</a>
            </li>
    
            <li [hidden]="!_authService.loggedIn()">
              <a routerLink="planilla">Planilla</a>
            </li>
    
            <li [hidden]="!_authService.Administrator()">
              <a routerLink="parish">Parroquias</a>
            </li>
    
            <li [hidden]="!_authService.Administrator()">
              <a routerLink="signatory">Firmante</a>
            </li>
    
            <li [hidden]="!_authService.Administrator()">
              <a routerLink="certificate">Certificados</a>
            </li>
    
            <li [hidden]="!_authService.Administrator()">
              <a routerLink="certificatePending">Certificados Pendientes</a>
            </li>
    
            <li [hidden]="!_authService.Administrator()">
              <a routerLink="certificatePrint">Certificados Parroquia</a>
            </li>
    
            <li [hidden]="!_authService.Administrator()">
              <a routerLink="user">Usuarios</a>
            </li>
    
            <li [hidden]="!_authService.Parishes()">
              <a routerLink="certificateParish">Certificados</a>
            </li>
    
            <li [hidden]="!_authService.Parishes()">
              <a routerLink="certificatePrint">Imprimir Certificados</a>
            </li>
    
            <li>
              <a *ngIf="_authService.loggedIn()" routerLink="" (click)="logout()"
                >Salir</a
              >
            </li>
        
            <li class="login-form">
              <a [hidden]="_authService.loggedIn()"  routerLink="login">Login</a>
    
            </li>
          </ul>
          <label for="menu-btn" class="btn menu-btn">
            <i class="fa fa-bars"></i>
          </label> 
        </mat-toolbar-row>
      </mat-toolbar>
    </div>  
   
  </nav>