
.active {
    background-color: #BF9663;
    color: rgb(11, 9, 9);
    transition: background-color 0.3s ease-in-out;
  }
  
  nav .wrapper {
    position: relative;
    max-width: auto;
    padding: 30px 0px;
    height: auto;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c6bfad;    
  }
  
  .toolbar-row {
    justify-content: flex-end;
  }
   
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* el tamaño que acapara el menu al minimizar la pantalla */
  .nav-links {
    width: 60%;
  }
 

  /* para la animacion del navgar */
  .nav-links li:hover {
    transform: translateY(5px);
   
  }

  .nav-links li:hover {
    background-color: #4caf50;
    color: white;
  }
 
  .nav-links li {
    transition: transform 0.2s ease-in-out;
  }

  .menu-1{
    background-color: #8BBCCA;
    
  }
