<!-- Primera Opción -->

<!-- <div class="limiter" *ngIf="load">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
        <img src="../../assets/Images/logoObispado.png" />
      </div>
      <form class="login100-form validate-form">
        <span class="login100-form-title"> Inicia Sesión </span>

        <div
          class="wrap-input100 validate-input"
          data-validate="Valid email is required: ex@abc.xyz"
        >
          <input
            [(ngModel)]="UserLogin.User"
            class="input100"
            type="text"
            name="email"
            placeholder="Correo"
          />
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input
            [(ngModel)]="UserLogin.Password"
            class="input100"
            type="password"
            name="pass"
            placeholder="Contraseña"
          />
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>

        <div class="container-login100-form-btn">
          <button (click)="Login()" class="login100-form-btn">Ingresar</button>
        </div>
      </form>
    </div>
  </div>
</div> -->

<div class="main-page">
  <div class="background"></div>
  <div>
    <mat-card fxFlex="100%" fxFlex.sm="50%">
      <mat-card-title>
        <span class="text-white">OBISPADO DE TARIJA</span>
      </mat-card-title>
      <mat-divider></mat-divider>
      <br />
      <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-around center">
        <div class="logo" fxHide.xs="true">
          <img src="../../assets/Images/logoObispado.png" width="100px" />
        </div>
        <mat-divider
          vertical
          class="vertical-divider"
          fxHide.xs="true"
        ></mat-divider>
        <div class="formulario" fxLayout="column" fxLayoutAlign="center center">
          <div class="acount" fxLayout="column" fxLayoutAlign="center center">
            <mat-icon class="account_img"> account_circle </mat-icon>
            <br />
            <span class="account_title">BIENVENIDO</span>
          </div>
          <form>
            <mat-form-field appearance="fill" class="text-white">
              <mat-label class="text-white"> Correo</mat-label>
              <input
                class="text-white"
                matInput
                [(ngModel)]="UserLogin.User"
                type="text"
                name="email"
                required
              />
              <mat-icon matSuffix>alternate_email</mat-icon>
            </mat-form-field>
            <br />
            <mat-form-field appearance="fill" class="text-white">
              <mat-label class="text-white">Contraseña </mat-label>
              <input
                class="text-white"
                matInput
                [(ngModel)]="UserLogin.Password"
                type="password"
                name="pass"
                required
              />
              <mat-icon matSuffix>lock</mat-icon>
              <mat-hint class="text-white"
                >¿Olvido su Contraseña? <a href="#">Recuperar</a>
              </mat-hint>
            </mat-form-field>
          </form>
          <br />
          <button mat-flat-button class="login-btn" (click)="Login()">
            Iniciar Sesion
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
