<div class="background">
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container-login">
      <span class="d-block text-center text-white py-2 custom-text"
        >Obispado Tarija</span
      >
      <mat-divider></mat-divider>
      <div class="row">
        <div
          class="col-md col-6-lg d-flex justify-content-center align-items-center container-logo-obispado"
        >
          <img
            src="../../assets/Images/logoObispado.png"
            alt="Logo-Obispado-Tarija"
            class="logo-obispado"
          />
        </div>

        <div class="col-md col-6-lg">
          <div class="container-logo text-center">
            <mat-icon class="account_img mt-3"> account_circle </mat-icon>
          </div>
          <p class="text-center text-white pt-4 custom-text">Bienvenido</p>
          <form (ngSubmit)="Login()" class="px-4">
            <div class="input-group mb-3">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInputGroup1"
                  placeholder="Username"
                  name="email"
                  [(ngModel)]="UserLogin.User"
                  autofocus
                />
                <label for="floatingInputGroup1">Correo</label>
              </div>
              <span class="input-group-text fw-bold">@</span>
            </div>
            <div class="input-group mb-3">
              <div class="form-floating">
                <input
                  type="password"
                  class="form-control"
                  [(ngModel)]="UserLogin.Password"
                  id="floatingPassword"
                  name="pass"
                  placeholder="Contraseña"
                />
                <label for="floatingPassword">Contraseña</label>
              </div>
              <span class="input-group-text">
                <i class="bi bi-lock-fill"></i>
              </span>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-block mb-3">
                Iniciar Sesión
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
