
<!-- Aqui silencie este fragmento del codigo que es el icono de carga sobrepuesto en la pantalla, este desaparece si recibe info del backend
por ahora estaria envano hasta que logren conectar al backend -->
<div class="overlay" *ngIf="!load" >
   <div class="loader-container">
      <div class="loader"></div>
      <div class="loader2"></div>
   </div>
</div>

<!-- Se supone que aqui, al lado del "class=container" va lo que es  , sirve solo para mostrar o no el icono de carga, lo borre -->
<div class="container">
   
   <!-- <div style="text-align: center;">
      <h2>CERTIFICADOS</h2>
   </div> -->

   <div class="d-flex justify-content-center align-items-center mb-5 mt-4">
      <h2>CERTIFICADOS</h2>
   </div>

<!--    <p>
      <a [routerLink]="['/addcertificate']" class="btn btn-success ">Nuevo Certificado</a>
   </p>

   <div class="input-group mb-3">
      <div class="input-group-prepend">
         <button (click)="Find()" class="btn btn-outline-secondary" type="button">BUSCAR</button>
      </div>
      <input [(ngModel)]="find" type="text" class="form-control" placeholder=""
      aria-label="INGRESE SU BUSQUEDA" aria-describedby="basic-addon1">
   </div> -->

   <div class="input-group mb-3">

      <a [routerLink]="['/addcertificate']" class="btn btn-success">Nuevo Certificado</a>
      <input
        [(ngModel)]="find"
        type="search"
        class="form-control rounded"
        placeholder="Buscar"
        aria-label="Search"
        aria-describedby="search-addon"
      />
  
      <button class="btn btn-outline-secondary" type="button" (click)="Find()">
        <i class="bi bi-search"></i>
      </button>
    </div>

   <div class="table-responsive">
      <table class="table table-dark">
         <thead >

            <tr>
               <th>LUGAR DE CONFIRMACION</th>
               <th>CI</th>
               <th>NOMBRE</th>
               <th>APELLIDO</th>
               <th>NOMBRE DE PADRE</th>
               <th>NOMBRE DE MADRE</th>
               <th colspan="4">ACCIONES  </th>
            </tr>

         </thead>

         <tbody>
            <tr *ngIf="(certificateList)?.length==0">
              <td colspan="10" style="text-align: center;">
              <span> No se encontraron resultados ...</span>
              </td>
            </tr>

            <tr *ngFor="let certificate of certificateList">
               <td >{{ certificate.ParishName }}</td>
               <td >{{ certificate.ci}}</td>
               <td >{{ certificate.name}}</td>
               <td >{{ certificate.surName}}</td>
               <td >{{ certificate.dad}}</td>
               <td >{{ certificate.mother}}</td>

               <td>
                  <a routerLink="/certificate/{{ certificate.id }}/''"
                     class="btn btn-space btn-primary">
                  <i class="fa fa-edit fa-2x"></i>
                  </a>
               </td>

               <td>
                  <a (click)="delete(certificate.id)"
                     class="btn btn-space btn-danger ">
                  <i class="fa fa-trash fa-2x"></i>
                  </a>
               </td>

               <td>
                  <a (click)="printCertificate(certificate)"
                     class="btn btn-space btn-secondary ">
                  <i class="fa fa-print fa-2x"></i>
                  </a>
               </td>

            </tr>
         </tbody>
      </table>

   </div>

   <div style="text-align: center;">

      <ul class="pagination">
         <li class="page-item col-md-1 " >
            <select class="form-control" (change)="Quantity($event)">
              <option selected disabled>{{optionSelect}}</option>
              <option *ngFor="let web of list">{{web}}</option>
            </select>
         </li>

         &nbsp;
         <li class="page-item" >
            <p *ngIf="metaData.HasPreviousPage" class="form-control" type="button" (click)="Preview()">Anterior</p>
            <p *ngIf="!metaData.HasPreviousPage" class="form-control" type="button">Anterior</p>
         </li>

         <li class="page-item page-item ">
            <p class="form-control" >{{metaData.CurrentPage}}</p>
         </li>

         <li class="page-item" >
            <p *ngIf="metaData.HasNextPage" class="form-control" type="button"(click)="Next()">Siguiente</p>
            <p *ngIf="!metaData.HasNextPage" class="form-control"  type="button">Siguiente</p>
         </li>

      </ul>
      
      <ul class="pagination">
         <li class="page-item">
            <label  for="TotalPages">P&aacute;gina {{metaData.CurrentPage}} de {{metaData.TotalPages}}  </label>
         </li>
      </ul>
   </div>
</div>
