.botonSalir {
  color: aliceblue;
}

.color-gris1 {
  background-color: #cbcbcb;
}
.color-gris2 {
  color: #c6bfad;
}
.color-celeste {
  color: #88b5bf;
}
.color-rojo-o {
  color: #d92b3a;
}
.color-naranja {
  color: #f27a5e;
}
.color-amarillo-o {
  color: #f1bd5a;
}
.color-marron {
  color: #bf9663;
}
.color-verde1 {
  color: #73a38b;
  color: #8ba651;
  color: #24ad6e;
  color: #fec889;
  color: #fc1d26;
}
