  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  </section><!-- End Hero -->


   <!-- ======= Services Section ======= -->
   <section id="services" class="services section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Servicios</h2>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="icon-box icon-box-pink">
            <div class="icon"><i class="bx
              bx-bell"></i></div>
            <h4 class="title"><a >Atencion</a></h4>
            <p class="description">


              lunes
              8:30–18:00,

              Martes
              8:30–18:00,

              Miércoles
              8:30–18:00,

              Jueves
              8:30–18:00,

              Viernes
              8:30–18:00,

              Sabado-Domingo
              Cerrado.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="icon-box icon-box-pink">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a >Certificados de confirmacion</a></h4>
            <p class="description">los certificados de confirmacion pueden ser impresos y firmados en las horas de atencion, para la impresion se cancela el monto de 50 bs</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->



  <!-- ======= Contact Section ======= -->
  <section id="services" class="contact" style="background-color: rgb(255, 255, 255);">
    <div class="container" >

      <div class="section-title" data-aos="fade-up">
        <h2>Datos sobre el obispado de Tarija</h2>

      </div>

      <div class="row no-gutters justify-content-center" data-aos="fade-up">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Ubicacion:</h4>
              <p>Gral Trigo, Frente al banco BCB Tarija</p>
            </div>

            <div class="email mt-4">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>obispado@gmail.com</p>
            </div>

            <div class="phone mt-4">
              <i class="bi bi-phone"></i>
              <h4>Telefono:</h4>
              <p>46643793</p>
            </div>

          </div>

        </div>

        <div class="col-lg-5 d-flex align-items-stretch">
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d463.921565975431!2d-64.73467571127844!3d-21.532284221810073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9406480a1f62b7c3%3A0x1b9a04f94d51e19d!2sObispado%20de%20Tarija!5e0!3m2!1ses!2sbo!4v1625120154467!5m2!1ses!2sbo" frameborder="0" allowfullscreen></iframe>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->



  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Obispado de Tarija</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
           Designed by Jorge Ayllon Cazon
      </div>
    </div>
  </footer>
